.button {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 8px 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    width: auto;

  }
  

  
  .button:hover {
    transition: all 0.25s ease;
    transform: scale(1.1);
  }
  
  .button:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
  }

  .n-boder {
    border: 1px solid transparent;
  }