
.container {
    max-width: 1200px;
    padding: 84px 0px;
}

.box {
    border: 1px solid #ddd;
    border-radius: 6px;
}

.boxHeader {
    padding: 17px 15px;
    background: rgba(76, 76, 241, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}