.container {
    max-width: 1200px;
    padding: 84px 0px; 
}

.showContainer {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 32px 0px;
    padding: 32px 16px;
}

.headercontainer {
    text-align: center;
    .headerText {
        font-size: 28px;
        font-weight: 600;
    }
}

.bodycontainer {
    margin-top: 32px;
}


.avatar {
    width: 60px;
    height: 60px;
    margin-right: 12px;
}

.authorname {
    color: #3c4146;
    font-size: 18px;
}

.authorinfor {
    display: inline-flex;
    margin-right: 18px;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    font-size: 14px;
    .icons {
        font-size: 18px;
        margin-right: 4px;
    }
}

.editBtn {
    text-decoration: underline;
    padding: 8px;
}

.commentContainer {
    margin-top: 32px;
}

