
.container {

    .editor {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        padding: 8px 16px;
        margin: 0;
        line-height: 4px;
        min-height: 120px;
    }

    .submitBtn {
        margin-top: 12px;
        height: 30px;
        font-size: 14px;
        line-height: 30px;
        padding: 0 15px;
        font-weight: 400;
        color: #fff;
        border-radius: 4px;
        background: #3577f1;
        display: inline-block;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.18s ease-in-out;
    }
}
