.container {
    background: url("/slider/Slider-backround.png");
    min-height: 400px;
    background-size: cover ;
    background-position: center center;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerText {
    font-family: ThuPhap, 'Times New Roman', Times, serif !important;
    font-size: 80px;
    font-weight: 600;
    text-shadow: #FFFFFF 1px 0 10px;
    cursor: default;
}