.headercontainer {
    margin: 32px 0px;
    .headerText {
        font-size: 18px;
    }
    label {
        font-size: 18px;
    }
    input {
        width: 100%;
        border: 1px solid #ccc;
        padding: 4px 8px;
    }
}

.bodycontainer {
    margin-top: 32px;
}


.avatar {
    width: 60px;
    height: 60px;
    margin-right: 12px;
}

.authorname {
    color: #3c4146;
    font-size: 18px;
}

.authorinfor {
    display: inline-flex;
    margin-right: 18px;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    font-size: 14px;
    .icons {
        font-size: 18px;
        margin-right: 4px;
    }
}

.editor {
    border:  1px solid #ccc;
    padding: 0px 16px;
    margin-bottom: 16px;
}

.editBtn {
    text-decoration: underline;
}

.submitBtn {
    border: 1px solid #ccc;
}